<div class="animated fadeIn bg-white rounded p-3" >
    <form class="fromData" role="form" (submit)="formSubmit()" autocomplete="off" >
        <div class="row">
            <div class="col-12">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="emailNotification">
                    <label class="custom-control-label" for="emailNotification">Email Notification</label>
                </div>  
            </div>  

            <div class="col-12 mt-3">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="smsNotification">
                    <label class="custom-control-label" for="smsNotification">SMS Notification</label>
                </div>  
            </div>  
        </div>   
    </form>
</div>