<div class="animated fadeIn bg-white rounded p-3" >
    <!-- <form class="fromData" role="form" [formGroup]="changePasswordForm" *ngIf="changePasswordForm"  (submit)="formSubmit()" autocomplete="off" >
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" formControlName="password" [ngClass]="{ 'isInvalid': isFormSubmittedAndError('password') }" placeholder="Enter password" maxlength="100" >
                    
                    <span class="required">*</span>
                    <div *ngIf="isFormSubmittedAndError('password')" class="invalid-feedback">
                        <div *ngIf="isFormSubmittedAndError('password', 'required')">Password is required.</div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-6">
                <div class="form-group">
                    <label for="repeatPassword">Repeat Password</label>
                    <input type="repeatPassword" class="form-control" id="repeatPassword" formControlName="repeatPassword" [ngClass]="{ 'isInvalid': isFormSubmittedAndError('repeatPassword') }" placeholder="Enter repeat password" maxlength="100" >
                    
                    <span class="required">*</span>
                    <div *ngIf="isFormSubmittedAndError('repeatPassword')" class="invalid-feedback">
                        <div *ngIf="isFormSubmittedAndError('repeatPassword', 'required')">Password is required.</div>
                    </div>
                </div>
            </div>

            <div class="col-12 d-flex justify-content-end">
                <button type="submit" class="btn btn-primary" >Change</button>
            </div>
        </div>
    </form> -->
</div>