<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <div class="card text-white bg-primary" [routerLink]="['/properties/addOwner']">
            <div class="card-body">
              <div class="h1 text-muted text-right mb-4">
                <i class="icon-user"></i>
              </div>
              <div class="h4 text-uppercase font-weight-bold">Owner</div>
            </div>
        </div>
      </div>
  
      <div class="col-sm-6 col-lg-4">
        <div class="card text-white bg-success" [routerLink]="['/properties/addBroker']">
            <div class="card-body">
              <div class="h1 text-muted text-right mb-4">
                <i class="icon-user-follow"></i>
              </div>
              <div class="h4 text-uppercase font-weight-bold">Broker</div>
            </div>
        </div>
      </div>
  
      <div class="col-sm-6 col-lg-4">
        <div class="card text-white bg-warning" [routerLink]="['/properties/addTenant']">
            <div class="card-body">
              <div class="h1 text-muted text-right mb-4">
                <i class="icon-people"></i>
              </div>
              <div class="h4 text-uppercase font-weight-bold">Tenant</div>
            </div>
        </div>
      </div>
    </div>
  </div>
  