<ngx-spinner bdColor="rgba(51,51,51,0.8)"
             size="medium"
             color="#fff"
             loadingText="Please wait"
             type="ball-spin-fade">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="app-body">
  <main class="main d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form role="form" #loginform="ngForm" autocomplete="off" novalidate>
                  <div class="text-center" style="margin-bottom: 10px;">
                    <img class="center" src="./assets/mainlogo.png" style="width: 200px;" >
                  </div>
                  <h2>
                    Sign in to EaseRent
                  </h2>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" [pattern]="emailPattren" id="Email" name="Email" placeholder="Email" autocomplete="Email" required
                           [(ngModel)]="authenticationData.Email"
                           #Email="ngModel">
                  </div>
                  <div *ngIf="Email.invalid && (Email.dirty || isSubmit)" class="text-left cm-login-mt">
                    <span *ngIf="Email.errors.required" class="text-red">
                      Please enter User Name
                    </span>
                    <span *ngIf="Email.errors.pattern" class="text-red">
                      please enter valid email
                    </span>
                  </div>

                  <div class="input-group mt-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="Password" id="Password" name="Password" class="form-control" placeholder="Password" autocomplete="current-password" required
                           required #Password="ngModel" [(ngModel)]="authenticationData.Password">
                  </div>
                  <div *ngIf="Password.invalid && (Password.dirty || isSubmit)" class="text-left cm-login-mt">
                    <span *ngIf="Password.errors.required" class="text-red">
                      Please enter Password
                    </span>
                  </div>

                  <div class="row mt-3">
                    <div class="col-12 text-center">
                      <button type="button" class="btn btn-success px-4" (click)="onLoggedin(loginform)">Login</button>
                    </div>

                  </div>
                  <br>
                  <div class="row">

                    <div class="col-8 text-center">
                      Don't have account ? <button type="button" class="btn btn-warning " [routerLink]="['/signup']">Sign Up</button>
                    </div>

                    <div class="col-4 text-center">
                      <button type="button" class="btn btn-link px-0" [routerLink]="['/forgotPassword']">Forgot password?</button>
                    </div>

                    <div class="col-12 text-center">
                      <a class="btn btn-link px-0" [routerLink]="['/']">Security & Privacy  </a>
                      <a class="btn btn-link px-0" [routerLink]="['/']"> | Terms of Use</a>
                      <a class="btn btn-link px-0" [routerLink]="['/']"> | Contact Support</a>
                    </div>

                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3"></div>
      </div>
    </div>
  </main>
</div>

