<div class="animated fadeIn">
    <div class="row bg-white py-3">
        <div class="col-12 d-flex justify-content-end">
            <button type="submit" class="btn btn-primary" (click)="addAttachment.show()" >Add Attachments</button>
        </div>
  
        <div class="col-sm-12 col-lg-8 border-right">
            <form class="fromData" role="form" [formGroup]="addPropertyDetailForm" *ngIf="addPropertyDetailForm"  (submit)="formSubmit()" autocomplete="off" >
                <div class="row my-3">
                    <div class="col-12 d-flex flex-row my-3">
                        <div class="custom-control custom-checkbox mr-3">
                            <input type="checkbox" class="custom-control-input" id="isLivingRoom" formControlName="isLivingRoom" >
                            <label class="custom-control-label" for="isLivingRoom">Living Room / Hall</label>
                        </div>

                        <div class="custom-control custom-checkbox mr-3">
                            <input type="checkbox" class="custom-control-input" id="isKitchen" formControlName="isKitchen" >
                            <label class="custom-control-label" for="isKitchen">Kitchen</label>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-4">
                        <div class="form-group">
                            <label for="bedroom">Bedroom</label>
                            <select class="form-control" id="bedroom" formControlName="bedroom" [ngClass]="{ 'isInvalid': isFormSubmittedAndError('bedroom') }">
                                <option value="0" >0</option>
                                <option value="1" >1</option>
                                <option value="2" >2</option>
                                <option value="3" >3</option>
                                <option value="4" >4</option>
                                <option value="5" >5</option>
                                <option value="6" >6</option>
                                <option value="7" >7</option>
                                <option value="8" >8</option>
                                <option value="9" >9</option>
                                <option value="10" >10</option>
                            </select>

                            <!-- <span class="required">*</span>
                            <div *ngIf="isFormSubmittedAndError('bedroom')" class="invalid-feedback">
                                <div *ngIf="isFormSubmittedAndError('bedroom', 'required')">Bedroom is required.</div>
                            </div> -->
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-4">
                        <div class="form-group">
                            <label for="bathroom">Bathroom</label>
                            <select class="form-control" id="bathroom" formControlName="bathroom" [ngClass]="{ 'isInvalid': isFormSubmittedAndError('bathroom') }">
                                <option value="0" >0</option>
                                <option value="1" >1</option>
                                <option value="2" >2</option>
                                <option value="3" >3</option>
                                <option value="4" >4</option>
                                <option value="5" >5</option>
                                <option value="6" >6</option>
                                <option value="7" >7</option>
                                <option value="8" >8</option>
                                <option value="9" >9</option>
                                <option value="10" >10</option>
                            </select>

                            <!-- <span class="required">*</span>
                            <div *ngIf="isFormSubmittedAndError('bedroom')" class="invalid-feedback">
                                <div *ngIf="isFormSubmittedAndError('bedroom', 'required')">Bedroom is required.</div>
                            </div> -->
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-4">
                        <div class="form-group">
                            <label for="additionalRooms">additionalRooms</label>
                            <select class="form-control" id="additionalRooms" formControlName="additionalRooms" [ngClass]="{ 'isInvalid': isFormSubmittedAndError('additionalRooms') }">
                                <option value="0" >0</option>
                                <option value="1" >1</option>
                                <option value="2" >2</option>
                                <option value="3" >3</option>
                                <option value="4" >4</option>
                                <option value="5" >5</option>
                                <option value="6" >6</option>
                                <option value="7" >7</option>
                                <option value="8" >8</option>
                                <option value="9" >9</option>
                                <option value="10" >10</option>
                            </select>

                            <!-- <span class="required">*</span>
                            <div *ngIf="isFormSubmittedAndError('bedroom')" class="invalid-feedback">
                                <div *ngIf="isFormSubmittedAndError('bedroom', 'required')">Bedroom is required.</div>
                            </div> -->
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="furnished" formControlName="isFurnished" [value]="true" class="custom-control-input">
                            <label class="custom-control-label" for="furnished">Furnished</label>
                        </div>
                        
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="unfurnished" formControlName="isFurnished" [value]="false" class="custom-control-input">
                            <label class="custom-control-label" for="unfurnished">Unfurnished</label>
                        </div>
                    </div>

                    <div class="col-12 my-3">
                        <fieldset class="border p-2">
                            <legend class="w-auto px-2 h6 text-muted">Group Name</legend>

                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-3">
                                    <div class="form-group">
                                        <label for="fan">Fan</label>
                                        <select class="form-control" id="fan" formControlName="fan" [ngClass]="{ 'isInvalid': isFormSubmittedAndError('fan') }">
                                            <option value="0" >0</option>
                                            <option value="1" >1</option>
                                            <option value="2" >2</option>
                                            <option value="3" >3</option>
                                            <option value="4" >4</option>
                                            <option value="5" >5</option>
                                            <option value="6" >6</option>
                                            <option value="7" >7</option>
                                            <option value="8" >8</option>
                                            <option value="9" >9</option>
                                            <option value="10" >10</option>
                                        </select>
            
                                        <!-- <span class="required">*</span>
                                        <div *ngIf="isFormSubmittedAndError('bedroom')" class="invalid-feedback">
                                            <div *ngIf="isFormSubmittedAndError('bedroom', 'required')">Bedroom is required.</div>
                                        </div> -->
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-6 col-lg-3">
                                    <div class="form-group">
                                        <label for="sofa">Sofa</label>
                                        <select class="form-control" id="sofa" formControlName="sofa" [ngClass]="{ 'isInvalid': isFormSubmittedAndError('sofa') }">
                                            <option value="0" >0</option>
                                            <option value="1" >1</option>
                                            <option value="2" >2</option>
                                            <option value="3" >3</option>
                                            <option value="4" >4</option>
                                            <option value="5" >5</option>
                                            <option value="6" >6</option>
                                            <option value="7" >7</option>
                                            <option value="8" >8</option>
                                            <option value="9" >9</option>
                                            <option value="10" >10</option>
                                        </select>
            
                                        <!-- <span class="required">*</span>
                                        <div *ngIf="isFormSubmittedAndError('bedroom')" class="invalid-feedback">
                                            <div *ngIf="isFormSubmittedAndError('bedroom', 'required')">Bedroom is required.</div>
                                        </div> -->
                                    </div>
                                </div>


                                <div class="col-sm-12 col-md-6 col-lg-3">
                                    <div class="form-group">
                                        <label for="tv">Tv</label>
                                        <select class="form-control" id="tv" formControlName="tv" [ngClass]="{ 'isInvalid': isFormSubmittedAndError('tv') }">
                                            <option value="0" >0</option>
                                            <option value="1" >1</option>
                                            <option value="2" >2</option>
                                            <option value="3" >3</option>
                                            <option value="4" >4</option>
                                            <option value="5" >5</option>
                                            <option value="6" >6</option>
                                            <option value="7" >7</option>
                                            <option value="8" >8</option>
                                            <option value="9" >9</option>
                                            <option value="10" >10</option>
                                        </select>
            
                                        <!-- <span class="required">*</span>
                                        <div *ngIf="isFormSubmittedAndError('bedroom')" class="invalid-feedback">
                                            <div *ngIf="isFormSubmittedAndError('bedroom', 'required')">Bedroom is required.</div>
                                        </div> -->
                                    </div>
                                </div>


                                <div class="col-sm-12 col-md-6 col-lg-3">
                                    <div class="form-group">
                                        <label for="bed">Bed</label>
                                        <select class="form-control" id="bed" formControlName="bed" [ngClass]="{ 'isInvalid': isFormSubmittedAndError('bed') }">
                                            <option value="0" >0</option>
                                            <option value="1" >1</option>
                                            <option value="2" >2</option>
                                            <option value="3" >3</option>
                                            <option value="4" >4</option>
                                            <option value="5" >5</option>
                                            <option value="6" >6</option>
                                            <option value="7" >7</option>
                                            <option value="8" >8</option>
                                            <option value="9" >9</option>
                                            <option value="10" >10</option>
                                        </select>
            
                                        <!-- <span class="required">*</span>
                                        <div *ngIf="isFormSubmittedAndError('bedroom')" class="invalid-feedback">
                                            <div *ngIf="isFormSubmittedAndError('bedroom', 'required')">Bedroom is required.</div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-sm-12 col-lg-4">
            <div class="d-flex flex-row flex-wrap justify-content-center align-items-center w-100 h-100" *ngIf="attachments && attachments.length === 0" >
                <div class="h6 text-muted">
                    Please select attachment.
                </div>
            </div>

            <div class="d-flex w-100 h-100 mt-3" [perfectScrollbar] *ngIf="attachments && attachments.length > 0" >
                <div class="table-responsive w-100" >
                    <table class="table table-hover bg-white">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Room Type</th>
                                <th scope="col">Attachment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let attachment of attachments;let i = index" >
                                <th scope="row">{{i + 1}}</th>
                                <td>{{attachment['roomType']}}</td>
                                <td>
                                    <i class="fa fa-eye" aria-hidden="true" (click)="showLigthBox(i);" ></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




<div bsModal #addAttachment="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Attachment</h4>
          <button type="button" class="close" (click)="addAttachment.hide();addAttachmentForm.reset();" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form class="fromData" role="form" [formGroup]="addAttachmentForm" *ngIf="addAttachmentForm"  (submit)="formSubmit()" autocomplete="off" >
                <div class="d-flex flex-row flex-wrap justify-content-center align-items-center w-100 h-100" *ngIf="addAttachmentForm.get('attachment').valid" >
                    <img [src]="addAttachmentForm.get('attachment').value" alt="..." class="img-thumbnail selectedAttachmentImg">
                </div>
               
                <div class="d-flex flex-row flex-wrap justify-content-between align-items-center w-100 h-100 mt-3">
                    <button type="button" class="btn btn-labeled btn-primary attachmentBtn" (click)="takePhotoModal.show()" >
                        <span class="btn-label"><i class="fa fa-camera"></i></span> Take Photo
                    </button>
                    <!-- <webcam></webcam> -->

                    <button type="button" class="btn btn-labeled btn-primary attachmentBtn" (click)="photoFromDevice.click()">
                        <span class="btn-label"><i class="fa fa-desktop"></i></span> Photo From Device 
                        <input type="file" hidden #photoFromDevice (change)="onChangePhotoFromDevice($event)" accept="image/*" >
                    </button>
                </div>

                <div class="d-flex flex-row flex-wrap justify-content-center align-items-center w-100 h-100 mt-3">
                    <div class="form-group w-100 noLabel">
                        <select class="form-control" id="roomType" formControlName="roomType" [ngClass]="{ 'isInvalid': isAddAttachmentFormSubmittedAndError('roomType') }">
                            <option value="" >Please select room type</option>
                            <option value="bedroom" >Bedroom</option>
                            <option value="bathroom" >Bathroom</option>
                            <option value="additionalRooms" >Additional Rooms</option>
                            <option value="fan" >Fan</option>
                            <option value="sofa" >Sofa</option>
                            <option value="tv" >Tv</option>
                            <option value="bed" >Bed</option>                           
                        </select>

                        <span class="required">*</span>
                        <div *ngIf="isAddAttachmentFormSubmittedAndError('roomType')" class="invalid-feedback">
                            <div *ngIf="isAddAttachmentFormSubmittedAndError('roomType', 'required')">Room type is required.</div>
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-row flex-wrap justify-content-center align-items-center w-100 h-100 mt-3">
                    <button type="button" class="btn btn-success w-100" [disabled]="addAttachmentForm.invalid" (click)="formSubmit()" >Upload</button>
                </div>
            </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="addAttachment.hide();addAttachmentForm.reset();">Close</button>
          <button type="button" class="btn btn-primary" (click)="attachmentSubmit()" >Done</button>
        </div>
      </div>
    </div>
</div>





<div bsModal #takePhotoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Take Photo</h4>
          <button type="button" class="close" (click)="takePhotoModal.hide();takePhotoForm.reset()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form class="fromData" role="form" [formGroup]="takePhotoForm" *ngIf="takePhotoForm"  (submit)="formSubmit()" autocomplete="off" >
                <div class="row" >
                    <div class="col-sm-12 col-lg-6">
                        <div class="img-thumbnail" >
                            <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
                            [allowCameraSwitch]="true" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)"
                            (initError)="handleInitError($event)"></webcam>
                        </div>

                        <div class="d-flex flex-row flex-wrap justify-content-between align-items-center w-100 mt-3">
                            <button type="button" class="btn btn-labeled btn-primary attachmentBtn" (click)="triggerSnapshot()" >
                                <span class="btn-label"><i class="fa fa-camera"></i></span> Take Photo
                            </button>
                            <!-- <webcam></webcam> -->
        
                            <button type="button" class="btn btn-labeled btn-primary attachmentBtn" (click)="showNextWebcam(true);">
                                <span class="btn-label"><i class="fa fa-refresh"></i></span> Switch Camera 
                            </button>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-6">
                        <div class="d-flex flex-row flex-wrap justify-content-center align-items-center w-100 h-100"  *ngIf="!takePhotoForm.get('attachment').valid">
                            <div class="h6 text-muted">
                                Please take photo.
                            </div>
                        </div>
            
                        <img [src]="takePhotoForm.get('attachment').value" alt="..." class="img-thumbnail takePhotoAttachmentImg w-100" *ngIf="takePhotoForm.get('attachment').valid">
                    </div>
                </div>
            </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="takePhotoModal.hide();takePhotoForm.reset()">Close</button>
          <button type="button" class="btn btn-primary" (click)="takePhotoSubmit()" >Done</button>
        </div>
      </div>
    </div>
</div>