.attachmentBtn {
   width: 48%;
}

.selectedAttachmentImg {
    width: 200px;
    height: 200px;
}

.table {
    .fa {
        cursor: pointer;
    }
}

.additionalRooms {
    .fa.fa-plus-circle {
        font-size: 35px !important;

        &:hover {
            cursor: pointer;
        }
    }
}

.box17 svg {
  width: 100%;
  height: auto;
  fill: gray !important;
}
