<div class="animated fadeIn h-100 bg-white rounded" >
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Property Image</th>
                <th scope="col">Property Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>
                    <img class="card-img-top propertyImage img-thumbnail" src="assets\img\Properties\1.jpg" alt="Card image cap">
                </td>
                <td>Mark</td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="moveInOutModal.show()" >Move-Out</button>
                    <button type="button" class="btn btn-primary" (click)="moveInOutModal.show()" >Move-In</button>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>
                    <img class="card-img-top propertyImage img-thumbnail" src="assets\img\Properties\2.jpg" alt="Card image cap">
                </td>
                <td>Jacob</td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="moveInOutModal.show()" >Move-Out</button>
                    <button type="button" class="btn btn-primary" (click)="moveInOutModal.show()" >Move-In</button>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>
                    <img class="card-img-top propertyImage img-thumbnail" src="assets\img\Properties\3.jpg" alt="Card image cap">
                </td>
                <td>Larry</td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="moveInOutModal.show()" >Move-Out</button>
                    <button type="button" class="btn btn-primary" (click)="moveInOutModal.show()" >Move-In</button>
                </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>
                    <img class="card-img-top propertyImage img-thumbnail" src="assets\img\Properties\4.jpg" alt="Card image cap">
                </td>
                <td>Larry</td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="moveInOutModal.show()" >Move-Out</button>
                    <button type="button" class="btn btn-primary" (click)="moveInOutModal.show()" >Move-In</button>
                </td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>
                    <img class="card-img-top propertyImage img-thumbnail" src="assets\img\Properties\5.jpg" alt="Card image cap">
                </td>
                <td>Larry</td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="moveInOutModal.show()" >Move-Out</button>
                    <button type="button" class="btn btn-primary" (click)="moveInOutModal.show()" >Move-In</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>







<div bsModal #moveInOutModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <div class="d-flex flex-column text-center justify-content-center align-items-center w-100 h-100" *ngIf="!isEmailInvitestionSend">
                <div class="w-100 h4 m-0 mt-3">Code Logic - Ensure additional property details are entered already.</div>
                <div class="w-100 h4 m-0 my-3">If no, show only button to add property details.</div>
                <button type="button" class="btn btn-primary mt-3 mb-4 w-50" [routerLink]="['/properties/add']" >Add Property</button>
            </div>

            <div class="d-flex flex-column text-center justify-content-center align-items-center w-100 h-100" *ngIf="!isEmailInvitestionSend">
                <div class="w-100 h4 m-0 mt-3">If yes, show this button to start move-in or move-out (Code Logic - show move-in or move-out button based on what was clicked by user earlier)</div>
                <button type="button" class="btn btn-primary mt-3 mb-4 w-50" (click)="isEmailInvitestionSend = true" >Kick-off Move-In/Move-Out</button>
            </div>

            <div class="d-flex flex-column justify-content-start align-items-start w-100 h-100" *ngIf="isEmailInvitestionSend">
                <div class="w-100 h4 m-0 mb-3 text-center">We’ve sent email invites to your tenants.</div>

                <div class="w-100 h4 m-0 mt-3 mb-2">They will need to:</div>
                <ul class="list-group list-group-flush w-100">
                    <li class="list-group-item">Create an account (if not done yet)</li>
                    <li class="list-group-item">Enter details for move-in.</li>
                </ul>

                <div class="d-flex flex-column text-center justify-content-center align-items-center w-100 h-100"   >
                    <button type="button" class="btn btn-primary mt-3 mb-4 w-50" [routerLink]="['/moveInOut/moveIn']" >Let's Go</button>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
