<ngx-spinner bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
loadingText="Please wait"
type="ball-spin-fade">
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="app-body">
  <main class="main d-flex align-items-center">

      <div class="container">
          <div class="row" style="padding-top: 200px;">
              <div class="col-md-6"></div>

              <div class="col-md-6 mx-auto">
                  <div class="card-group">
                      <div class="card p-3 r-50-per">
                          <div class="card-body">
                            <form role="form" #resetPasswordForm="ngForm" autocomplete="off" novalidate>
                              <div class="text-center" style="margin-bottom: 10px;">
                                <img class="center" src="./assets/mainlogo.png">
                              </div>
                              <h1>Reset Password</h1>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="icon-lock"></i></span>
                                </div>
                                <input type="Password" id="Password" name="Password" class="form-control col-md-12" placeholder="Password" autocomplete="current-password" required
                                       required #Password="ngModel" [(ngModel)]="resetPasswordModel.Password" [pattern]="passwordPattern">

                              </div>
                              <div *ngIf="Password.invalid && (Password.dirty || isSubmit)" class="text-left cm-login-mt">
                                <span *ngIf="Password.errors.required" class="text-red">
                                  Please enter Password
                                </span>
                                <span *ngIf="Password.errors.pattern" class="text-red">
                                  Password must be contain 1 uppercase, 1 lowercase,1 number and 1 special character and must be 6
                                  character.
                                </span>
                              </div>
                              <div class="input-group margin-top-20">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="icon-lock"></i></span>
                                </div>
                                <input type="Password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" placeholder="Confirm Password" autocomplete="current-password" required
                                       required #ConfirmPassword="ngModel" [(ngModel)]="resetPasswordModel.ConfirmPassword">

                              </div>

                              <div *ngIf="ConfirmPassword.invalid && (ConfirmPassword.dirty || isSubmit)" class="text-left cm-login-mt">
                                <span *ngIf="ConfirmPassword.errors.required" class="text-red">
                                  Please enter Confirm Password
                                </span>
                              </div>
                              <div *ngIf="resetPasswordModel.ConfirmPassword && resetPasswordModel.ConfirmPassword !=resetPasswordModel.Password" class="text-left cm-login-mt">
                                <span class="text-red">
                                  Confirm Password and Password miss match
                                </span>
                              </div>
                              <div class="row">
                                <div class="col-6">
                                  <button type="button" class="btn btn-primary mt-2" (click)="resetPasssword(resetPasswordForm)">Reset Password</button>
                                </div>
                              </div>
                            </form>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-4"></div>
          </div>
      </div>
  </main>
</div>

<!-- <div class="app-body">
  <main class="main d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-md-4"></div>
       
        <div class="col-md-4 mx-auto">
          <div class="card-group">
            <div class="card p-3">
              <div class="card-body">
                <form role="form" #resetPasswordForm="ngForm" autocomplete="off" novalidate>
                  <h1>Reset Password</h1>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="Password"  id="Password" name="Password" class="form-control" placeholder="Password" autocomplete="current-password" required
                    required #Password="ngModel" [(ngModel)]="resetPasswordModel.Password">
                  </div>
                  <div *ngIf="Password.invalid && (Password.dirty || isSubmit)" class="text-left cm-login-mt">
                    <span *ngIf="Password.errors.required" class="text-red">
                        Please enter Password 
                    </span>
                  </div>   
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="Password"  id="ConfirmPassword" name="ConfirmPassword" class="form-control" placeholder="Confirm Password" autocomplete="current-password" required
                    required #ConfirmPassword="ngModel" [(ngModel)]="resetPasswordModel.ConfirmPassword">
                  </div>
                  <div *ngIf="ConfirmPassword.invalid && (ConfirmPassword.dirty || isSubmit)" class="text-left cm-login-mt">
                    <span *ngIf="ConfirmPassword.errors.required" class="text-red">
                        Please enter Confirm Password 
                    </span>
                  </div>   

                  <div class="row">
                    <div class="col-6">
                      <button type="button" class="btn btn-primary" (click)="resetPasssword(resetPasswordForm)">Reset Password</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4"></div >
      </div>
    </div>
  </main>
</div> -->

