<div class="animated fadeIn bg-white rounded" >
    <div class="d-flex flex-row justify-content-center align-items-center my-3">
        <h4 class="text-muted" >Documents - Property #1</h4>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Document Image</th>
                <th scope="col">Document Name</th>
                <th scope="col">Valid/Not Valid</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>
                    <img class="card-img-top propertyImage img-thumbnail" src="assets\img\Properties\1.jpg" alt="Card image cap">
                </td>
                <td>Aadhar Card</td>
                <td>
                    <div class="d-flex flex-column">
                        <i class="fa fa-check text-success fa-4x" aria-hidden="true"></i>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-danger"  >
                        <i class="fa fa-trash" aria-hidden="true"></i> Delete
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>
                    <img class="card-img-top propertyImage img-thumbnail" src="assets\img\Properties\2.jpg" alt="Card image cap">
                </td>
                <td>Pan Card</td>
                <td>
                    <div class="d-flex flex-column">
                        <i class="fa fa-check text-success fa-4x" aria-hidden="true"></i>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-danger"  >
                        <i class="fa fa-trash" aria-hidden="true"></i> Delete
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>
                    <img class="card-img-top propertyImage img-thumbnail" src="assets\img\Properties\3.jpg" alt="Card image cap">
                </td>
                <td>Passport</td>
                <td>
                    <div class="d-flex flex-column">
                        <i class="fa fa-exclamation-triangle text-danger fa-4x" aria-hidden="true"></i>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-danger"  >
                        <i class="fa fa-trash" aria-hidden="true"></i> Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>