<div class="animated fadeIn bg-white rounded" >
    <div class="d-flex flex-row justify-content-between align-items-center p-3">
        <h4 class="text-muted m-0" >Documents - Property #1</h4>

        <button type="button" class="btn btn-primary" (click)="addAttachment.show()" >Add Document</button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Document Image</th>
                <th scope="col">Document Name</th>
                <th scope="col">Valid/Not Valid</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>
                    <img class="card-img-top propertyImage img-thumbnail" src="assets\img\Properties\1.jpg" alt="Card image cap">
                </td>
                <td>Aadhar Card</td>
                <td>
                    <div class="d-flex flex-column">
                        <i class="fa fa-check text-success fa-4x" aria-hidden="true"></i>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-danger"  >
                        <i class="fa fa-trash" aria-hidden="true"></i> Delete
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>
                    <img class="card-img-top propertyImage img-thumbnail" src="assets\img\Properties\2.jpg" alt="Card image cap">
                </td>
                <td>Pan Card</td>
                <td>
                    <div class="d-flex flex-column">
                        <i class="fa fa-check text-success fa-4x" aria-hidden="true"></i>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-danger"  >
                        <i class="fa fa-trash" aria-hidden="true"></i> Delete
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>
                    <img class="card-img-top propertyImage img-thumbnail" src="assets\img\Properties\3.jpg" alt="Card image cap">
                </td>
                <td>Passport</td>
                <td>
                    <div class="d-flex flex-column">
                        <i class="fa fa-exclamation-triangle text-danger fa-4x" aria-hidden="true"></i>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-danger"  >
                        <i class="fa fa-trash" aria-hidden="true"></i> Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>



<div bsModal #addAttachment="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Attachment</h4>
          <button type="button" class="close" (click)="addAttachment.hide();addAttachmentForm.reset();" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form class="fromData" role="form" [formGroup]="addAttachmentForm" *ngIf="addAttachmentForm"  (submit)="addDocumentSubmit()" autocomplete="off" >
                <div class="d-flex flex-row flex-wrap justify-content-center align-items-center w-100 h-100" *ngIf="addAttachmentForm.get('attachment').valid" >
                    <img [src]="addAttachmentForm.get('attachment').value" alt="..." class="img-thumbnail selectedAttachmentImg">
                </div>
               
                <div class="d-flex flex-row flex-wrap justify-content-between align-items-center w-100 h-100 mt-3">
                    <button type="button" class="btn btn-labeled btn-primary attachmentBtn" (click)="takePhotoModalOpen()" >
                        <span class="btn-label"><i class="fa fa-camera"></i></span> Take Photo
                    </button>
                    <!-- <webcam></webcam> -->

                    <button type="button" class="btn btn-labeled btn-primary attachmentBtn" (click)="photoFromDevice.click()">
                        <span class="btn-label"><i class="fa fa-desktop"></i></span> Photo From Device 
                        <input type="file" hidden #photoFromDevice (change)="onChangePhotoFromDevice($event)" accept="image/*" >
                    </button>
                </div>

                <div class="d-flex flex-row flex-wrap justify-content-center align-items-center w-100 h-100 mt-3">
                    <div class="form-group w-100 noLabel">
                        <input type="text" class="form-control" id="documentName" formControlName="documentName" [ngClass]="{ 'isInvalid': isAddAttachmentFormSubmittedAndError('documentName') }"  placeholder="Enter document name" maxlength="100">

                        <span class="required">*</span>
                        <div *ngIf="isAddAttachmentFormSubmittedAndError('documentName')" class="invalid-feedback">
                            <div *ngIf="isAddAttachmentFormSubmittedAndError('documentName', 'required')">Document name is required.</div>
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-row flex-wrap justify-content-center align-items-center w-100 h-100 mt-3">
                    <button type="button" class="btn btn-success w-100" [disabled]="addAttachmentForm.invalid" (click)="addDocumentSubmit()" >Upload</button>
                </div>
            </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="addAttachment.hide();addAttachmentForm.reset();">Close</button>
          <button type="button" class="btn btn-primary" (click)="attachmentSubmit()" >Done</button>
        </div>
      </div>
    </div>
</div>
