<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" loadingText="Please wait" type="ball-spin-fade">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="app-body">
    <main class="main d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-md-6"></div>

                <div class="col-md-6 mx-auto">
                    <div class="card-group">
                        <div class="card p-3 r-50-per">
                            <div class="card-body">
                              <form role="form" #forgotPasswordForm="ngForm" autocomplete="off" novalidate>
                                <div class="text-center" style="margin-bottom: 10px;">
                                  <img class="center" src="./assets/mainlogo.png" style="width: 200px;">
                                </div>
                                <h1>Forgot Password</h1>

                                <p class="text-muted">Enter your account email.</p>
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-user"></i></span>
                                  </div>
                                  <input type="text" class="form-control" [pattern]="emailPattren" id="Email" name="Email" placeholder="Username" autocomplete="username" required [(ngModel)]="authenticationData.Email" #Email="ngModel">
                                </div>
                                <div *ngIf="Email.invalid && (Email.dirty || isSubmit)" class="text-left cm-login-mt">
                                  <span *ngIf="Email.errors.required" class="text-red">
                                    Please enter User Name
                                  </span>
                                  <span *ngIf="Email.errors.pattern" class="text-red">
                                    please enter valid email
                                  </span>
                                </div>
                                <div class="row margin-top-20">
                                  <div class="col-12 text-center">
                                    <button type="button" class="btn btn-primary px-4" (click)="forgotPassword(forgotPasswordForm)">
                                      Get new password
                                    </button>
                                  </div>
                                </div>
                              </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4"></div>
            </div>
        </div>
    </main>
</div>
