<div class="animated fadeIn h-100 bg-white rounded p-3" >
    <div  class="row">
        <div class="d-flex flex-column text-center justify-content-center align-items-center w-100 mb-3">
            <div class="w-100 h4 m-0">Move-in Summary</div>
        </div>

        <table class="w-100 table table-bordered">
            <tr>
                <td class="w-25" ></td>
                <td class="w-25" >
                    <div (click)="next()" class="alert alert-success m-0 text-center rounded-lg h-100" role="alert">
                        <h4 class="alert-heading">Good</h4>
                        <p class="mb-0" >Everything inspected !!</p>
                    </div>
                </td>
                <td class="w-25" >
                    <div class="alert alert-warning m-0 text-center rounded-lg h-100" role="alert">
                        <h4 class="alert-heading">Issue I Can Live With</h4>
                        <p class="mb-0" >Notifying, but okay with not being foxed</p>
                    </div>
                </td>
                <td class="w-25" >
                    <div class="alert alert-danger m-0 text-center rounded-lg h-100" role="alert">
                        <h4 class="alert-heading">Issues - needs fixin</h4>
                        <p class="mb-0" >Everything inspected !!</p>
                    </div>
                </td>
            </tr>

            <tr>
                <th>
                    <div class="d-flex  flex-column text-center justify-content-center align-items-center w-100 h-100">
                        <h3>Living Room</h3>
                    </div>
                </th>
                <td>
                    <div class="d-flex  flex-column text-center justify-content-center align-items-center w-100 h-100">
                        <i class="fa fa-check-square-o fa-5x text-success" aria-hidden="true"></i>
                    </div>
                </td>
                <td></td>
                <td></td>
            </tr>


            <tr>
                <th>
                    <div class="d-flex  flex-column text-center justify-content-center align-items-center w-100 h-100">
                        <h3>Kitchen</h3>
                    </div>
                </th>
                <td></td>
                <td>
                    <div class="d-flex flex-column w-100 h-100" [perfectScrollbar] *ngIf="dangerAttachments && dangerAttachments.length > 0" >
                        <div class="table-responsive w-100" >
                            <table class="w-100 table-sm table-warning">
                                <tbody>
                                    <tr *ngFor="let attachment of dangerAttachments;let i = index" >
                                        <td>{{attachment['comments']}}</td>
                                        <td>
                                            <i class="fa fa-eye text-primary" aria-hidden="true" (click)="showLigthBox(i, false);" ></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="form-group w-100 mt-1 mb-0">
                            <textarea class="form-control w-100" rows="2">comments</textarea>
                        </div>
                    </div>
                </td>
                <td></td>
            </tr>

            <tr>
                <th>
                    <div class="d-flex  flex-column text-center justify-content-center align-items-center w-100 h-100">
                        <h3>Bathroom</h3>
                    </div>
                </th>
                <td></td>
                <td></td>
                <td>
                    <div class="d-flex flex-column w-100 h-100" [perfectScrollbar] *ngIf="dangerAttachments && dangerAttachments.length > 0" >
                        <div class="table-responsive w-100" >
                            <table class="w-100 table-sm table-danger">
                                <tbody>
                                    <tr *ngFor="let attachment of dangerAttachments;let i = index" >
                                        <td>{{attachment['comments']}}</td>
                                        <td>
                                            <i class="fa fa-eye text-primary" aria-hidden="true" (click)="showLigthBox(i, false);" ></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="form-group w-100 mt-1 mb-0">
                            <textarea class="form-control w-100" rows="2">comments</textarea>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <th>
                    <div class="d-flex flex-column text-center justify-content-center align-items-center w-100 h-100">
                        <h3>Bedroom</h3>
                    </div>
                </th>
                <td></td>
                <td></td>
                <td>
                    <div class="d-flex flex-column w-100 h-100" [perfectScrollbar] *ngIf="dangerAttachments && dangerAttachments.length > 0" >
                        <div class="table-responsive w-100" >
                            <table class="w-100 table-sm table-danger">
                                <tbody>
                                    <tr *ngFor="let attachment of dangerAttachments;let i = index" >
                                        <td>{{attachment['comments']}}</td>
                                        <td>
                                            <i class="fa fa-eye text-primary" aria-hidden="true" (click)="showLigthBox(i, false);" ></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="form-group w-100 mt-1 mb-0">
                            <textarea class="form-control w-100" rows="2">comments</textarea>
                        </div>
                    </div>
                </td>
            </tr>
        </table>


    </div>
</div>
