<div class="animated fadeIn bg-white rounded p-3 h-100" *ngIf="propertyData && propertyData.length === 0"  >
  <div class="d-flex flex-column justify-content-center align-items-center w-100 h-100">
    <div class="h3 text-muted text-capitalize" >no properties found please add.</div>
    <button class="btn btn-primary" type="button" [routerLink]="['/admin/properties/add']" >Add property</button>
  </div>
</div>

<div class="animated fadeIn bg-white rounded p-3" id="properties" *ngIf="propertyData && propertyData.length > 0" >
  <div class="row">
    <div class="col-md-12 text-right">
      <button class="btn btn-primary" type="button" [routerLink]="['/admin/properties/add']" >Add property</button>
    </div>
  </div>

  <div class="d-flex flex-wrap justify-content-start">
    <div class="card shadow-sm rounded-lg" *ngFor="let property of propertyData; let i = index" >
      <img class="card-img-top propertyImage" src="assets\img\Properties\{{property['propertyImage']}}" alt="Card image cap">

      <div class="card-body">
        <h5 class="card-title text-wrap">{{property['propertyName']}}</h5>
        <div class="card-text">
          <div class="d-flex flex-column justify-content-start w-100">
            <div class="w-100 text-muted"><i class="fa fa-fw text-wrap" [ngClass]="{'fa-check text-success': property['automatedRentPayment'], 'fa-times text-danger': !property['automatedRentPayment']}" aria-hidden="true"></i> Automated Rent Payment</div>
            <div class="w-100 text-muted"><i class="fa fa-fw text-wrap" [ngClass]="{'fa-check text-success': property['additionalPropertyDetails'], 'fa-times text-danger': !property['additionalPropertyDetails']}" aria-hidden="true"></i> Additional Property Details</div>
            <div class="w-100 text-muted"><i class="fa fa-fw text-wrap" [ngClass]="{'fa-check text-success': property['securityDeposit'], 'fa-times text-danger': !property['securityDeposit']}" aria-hidden="true"></i> Security Deposit</div>
            <div class="w-100 text-muted"><i class="fa fa-fw text-wrap" [ngClass]="{'fa-check text-success': property['bills'], 'fa-times text-danger': !property['bills']}" aria-hidden="true"></i> Bills</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
