<div class="animated fadeIn h-100 bg-white rounded" >
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Property Image</th>
                <th scope="col">Property Name</th>
                <th scope="col">Bills / Utilities</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>
                    <img class="card-img-top propertyImage img-thumbnail" src="assets\img\Properties\1.jpg" alt="Card image cap">
                </td>
                <td>Mark</td>
                <td>
                    <div class="d-flex flex-column">
                        <div><i class="fa fa-check text-success" aria-hidden="true"></i> Society Monthly Bill $140</div>
                        <div><i class="fa fa-check text-success" aria-hidden="true"></i> Electrity Bill Monthly Setup</div>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-success mt-3 mb-4" [routerLink]="['/admin/billsUtilities/add']" >Add New Bills</button>
                    <button type="button" class="btn btn-warning mt-3 mb-4" [routerLink]="['/admin/billsUtilities/edit']" >Edit Bills</button>
                    <button type="button" class="btn btn-primary mt-3 mb-4" [routerLink]="['/admin/billsUtilities/add']" >View Payment History</button>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>
                    <img class="card-img-top propertyImage img-thumbnail" src="assets\img\Properties\2.jpg" alt="Card image cap">
                </td>
                <td>Jacob</td>
                <td>
                    <div class="d-flex flex-column">
                        <div><i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i> No bill setup yet</div>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-success mt-3 mb-4" [routerLink]="['/admin/billsUtilities/add']" >Add New Bills</button>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>
                    <img class="card-img-top propertyImage img-thumbnail" src="assets\img\Properties\3.jpg" alt="Card image cap">
                </td>
                <td>Larry</td>
                <td>
                    <div class="d-flex flex-column">
                        <div><i class="fa fa-check text-success" aria-hidden="true"></i> Society Monthly Bill $140</div>
                        <div><i class="fa fa-check text-success" aria-hidden="true"></i> Electrity Bill Monthly Setup</div>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-success mt-3 mb-4" [routerLink]="['/admin/billsUtilities/add']" >Add New Bills</button>
                    <button type="button" class="btn btn-warning mt-3 mb-4" [routerLink]="['/admin/billsUtilities/edit']" >Edit Bills</button>
                    <button type="button" class="btn btn-primary mt-3 mb-4" [routerLink]="['/admin/billsUtilities/add']" >View Payment History</button>
                </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>
                    <img class="card-img-top propertyImage img-thumbnail" src="assets\img\Properties\4.jpg" alt="Card image cap">
                </td>
                <td>Larry</td>
                <td>
                    <div class="d-flex flex-column">
                        <div><i class="fa fa-check text-success" aria-hidden="true"></i> Society Monthly Bill $140</div>
                        <div><i class="fa fa-check text-success" aria-hidden="true"></i> Electrity Bill Monthly Setup</div>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-success mt-3 mb-4" [routerLink]="['/admin/billsUtilities/add']" >Add New Bills</button>
                    <button type="button" class="btn btn-warning mt-3 mb-4" [routerLink]="['/admin/billsUtilities/edit']" >Edit Bills</button>
                    <button type="button" class="btn btn-primary mt-3 mb-4" [routerLink]="['/admin/billsUtilities/add']" >View Payment History</button>
                </td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>
                    <img class="card-img-top propertyImage img-thumbnail" src="assets\img\Properties\5.jpg" alt="Card image cap">
                </td>
                <td>Larry</td>
                <td>
                    <div class="d-flex flex-column">
                        <div><i class="fa fa-check text-success" aria-hidden="true"></i> Society Monthly Bill $140</div>
                        <div><i class="fa fa-check text-success" aria-hidden="true"></i> Electrity Bill Monthly Setup</div>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-success mt-3 mb-4" [routerLink]="['/admin/billsUtilities/add']" >Add New Bills</button>
                    <button type="button" class="btn btn-warning mt-3 mb-4" [routerLink]="['/admin/billsUtilities/edit']" >Edit Bills</button>
                    <button type="button" class="btn btn-primary mt-3 mb-4" [routerLink]="['/admin/billsUtilities/add']" >View Payment History</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>