<div class="animated fadeIn bg-white rounded p-3" >
    <div class="d-flex justify-content-between">
        <h3>Payments</h3>
        <button class="btn btn-primary" type="button" >Edit Payment</button>
    </div>

    <div class="d-flex flex-column mt-3">
        <h5>Upcoming Payments:</h5>
        <h6 class="text-muted" >Your April Payment is coming up and will be debited in your bank account to your account on 5th of April.</h6>
    </div>

    <div class="d-flex flex-column mt-3">
        <h5>Payment History</h5>
        
        <table class="table w-100">
            <thead>
              <tr>
                <th scope="col">Month</th>
                <th scope="col">Rent</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Apr 2020</td>
                <td>1300</td>
                <td><span class="badge badge-warning">Pending</span></td>
              </tr> 
              
              <tr>
                <td>Mar 2020</td>
                <td>1300</td>
                <td><span class="badge badge-success">Paid</span></td>
              </tr> 

              <tr>
                <td>Feb 2020</td>
                <td>1300</td>
                <td><span class="badge badge-danger">Cancle</span></td>
              </tr> 

              <tr>
                <td>Jan 2020</td>
                <td>1300</td>
                <td><span class="badge badge-success">Paid</span></td>
              </tr> 

              <tr>
                <td>Dec 2019</td>
                <td>1300</td>
                <td><span class="badge badge-success">Paid</span></td>
              </tr> 
            </tbody>
        </table>
    </div>
</div>